<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<form th:action="@{/logout}">
    <button type="submit">logout</button>
</form>

<h2>User details:</h2>

<table>
    <tr>
        <td>First name: </td>
        <td th:text="${user.getFirstName()}"></td>
    </tr>
    <tr>
        <td>Last name: </td>
        <td th:text="${user.getLastName()}"></td>
    </tr>
    <tr>
        <td>Age: </td>
        <td th:text="${user.getAge()}"></td>
    </tr>
</table>

</body>
</html>